token:  # コンパネで作成したAPIキーのaccess-tokenを記入してください
secret: # コンパネで作成したAPIキーのaccess-token-secretを記入してください
disks:
  tk1v: # Sandboxゾーン
    - 999999999999 # アーカイブ化したいディスクのリソースIDを記入してください
    - 999999999999 # 複数のディスクを指定可能です
  tk1a: # 東京第１ゾーン
  is1a: # 石狩第１ゾーン
  is1b: # 石狩第２ゾーン

# auto_delete
# 古いアーカイブの自動削除を有効にする場合はenableをtrueに変更してください
# 自動削除を有効とする場合はcounts, hoursのどちらかの削除基準を選択し、コメントアウトを外してください
auto_delete:
  enable: false
  store:
    # counts: 3   # 数を基準に削除を行います。仮に3を指定した場合、3個残して4つ目以降を削除します
    # hours : 72  # 経過時間を基準に削除を行います。仮に72を指定した場合、作成から72時間より多く経過しているものを削除します
