# Sarchive設定ファイル
#
# [APIキー]
# token : コンパネで作成したAPIキーのaccess-tokenを指定してください
# secret: コンパネで作成したAPIキーのaccess-token-secretを指定してください
#
# [ターゲットディスク]
# disks:        アーカイブを作成したい対象ディスクの設定です
#   tk1v:         対象のゾーン名称をキーにします(tk1a, is1a, is1b, tk1v)
#     - 999...      対象のディスクのIDを指定します
#
# [アーカイブ自動削除]
# auto_delete: アーカイブ作成と同時に古いアーカイブを削除するアーカイブ自動削除の設定です
#   enable:      自動削除を有効にする場合はtrueを指定してください
#   store :      何を基準にアーカイブを削除するかの設定です。counts, hoursのどちらか一方を指定してください
#     counts:      数を基準に削除を行います。仮に3を指定した場合、3個残して4つ目以降を削除します
#     hours :      経過時間を基準に削除を行います。仮に72を指定した場合、作成から72時間より多く経過しているものを削除します
#
# [ログ出力先]
# log_path    : ログの出力先を指定してください。相対パスを指定する場合、実行場所が基準となります
# err_log_path: エラーログの出力先を指定してください。相対パスを指定する場合、実行場所が基準となります

token:
secret:
disks:
  tk1v: # Sandboxゾーン
    - 999999999999
    - 999999999999
  tk1a: # 東京第１ゾーン
  is1a: # 石狩第１ゾーン
  is1b: # 石狩第２ゾーン

auto_delete:
  enable: false
  store:
    # counts: 3
    # hours : 72

log_path: ./log/sarchive.log
err_log_path: ./log/sarchive.err.log
